@use "../_foundation/mixin"as mixin;
@use "../_foundation/base"as base;

#access {
    margin: -6px 0;
    .section-title {
      margin: -10px auto 0;
      padding: 0px 0 0 21px;
    }
  .access {
    padding: 0 15px;
    &__wrap {
      max-width: 960px;
      width: 100%;
      margin: 47px auto 0;
      padding: 0px 0px 0px 8px;
      // box-shadow: 0px 3px 6px #00000029;
      display: grid;
      grid-template-columns: 250px 1fr;
      grid-template-rows: 300px 300px;
      grid-template-areas:
        "title detail"
        "title map";
      &--title {
        width: 250px; 
        background-color: #93C572;
        box-shadow: 0px 3px 6px #00000029;
        font-size: 20px;
        font-weight: bold;
        border-radius: 100px 0px 0px 100px;
        padding: 80px 0px 214px 50px;
        grid-area: title;
          li {
            padding: 0 0 26px;
          }

          .map-li {
            padding: 46px 0px 0 2px;
            letter-spacing: 0.2px;
            p {
              padding: 0px 0px 20px 0px;
            }
            .access__map{
              font-size: 16px;
              margin: 0 0 0 -2px;
              text-decoration: underline;
            }
          } 
      }

      &--detail {
        width: 710px;
        height: 300px;
        background-color: #FFFF;
        box-shadow: 0px 3px 6px #00000029;
        font-size: 16px;
        border-radius:  0 100px 0 0;
        padding: 80px 0 60px 50px;
        grid-area: detail;
        li {
          padding: 0px 0 32px 0px;
        }
      }

      .access__map {
        width: 710px;
        height: 300px;
        border-radius: 0px 0px 100px 0px;
        box-shadow: 0px 3px 6px #00000029;
        grid-area: map;
      }
    }  
  }
} 


@include mixin.TAB {
  #access {
    padding: 0 15px;
    .access {
      &__wrap {
        // max-width: 960px;
        width: 100%;
        margin: 51px auto 0;
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
          "title detail"
          "map map";
        &--title {
          width: 100%; 
          background-color: #93C572;
          font-size: 16px;
          font-weight: bold;
          border-radius: 50px 0px 0px 0px;
          padding: 32px 32px 33px 20px;
          grid-area: title;
            li {
              padding: 0 0 26px;
              &:nth-child(2) {
                padding: 0 0 70px;
              }

              &:nth-child(4) {
                padding: 0 0 50px;
              }

              &:nth-child(5) {
                padding: 0;
              }  
            }

            .map-li {
              p {
                padding: 0;
              }
              .access__map{
                font-size: 16px;
                text-decoration: underline;
              }
            }  
        }

        &--detail {
          width: 100%;
          height: auto;
          background-color: #FFFF;
          font-size: 14px;
          border-radius:  0 50px 0 0;
          padding: 32px 0 33px 20px;
          grid-area: detail;
          li {
            padding:0 0 31px;
          }
        }

        .access__map {
          width: 100%;
          height: 300px;
          border-radius: 0px 0px 50px 50px;
          grid-area: map;
        }
      }  
    }
  } 
}



@include mixin.SP {
  #access {
    padding: 0px 15px;
    margin: 0 ;
    .section-title {
      margin:  47px auto 0;
      padding: 0px 0 0 16px;
    }
    .access {
      &__wrap {
        // max-width: 960px;
        width: 100%;
        margin: 43px auto 0;
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
          "title detail"
          "map map";
        &--title {
          width: 100%; 
          background-color: #93C572;
          font-size: 16px;
          font-weight: bold;
          border-radius: 50px 0px 0px 0px;
          padding: 31px 0px 17px 21px;
          grid-area: title;
            li {
              padding: 0 0 26px;
              &:nth-child(2) {
                padding: 0 0 70px;
              }

              &:nth-child(4) {
                padding: 0 0 50px;
              }

              &:nth-child(5) {
                padding: 0;
              }  
            }

            .map-li {
              p {
                padding: 0px 0 6px 0;
              }
              .access__map{
                font-size: 12px;
                margin: 0px 0 0 -2px;
                text-decoration: underline;
              }
            }  
        }

        &--detail {
          width: 100%;
          height: auto;
          background-color: #FFFF;
          font-size: 14px;
          border-radius:  0 50px 0 0;
          padding: 29px 22px 76px 22px;
          grid-area: detail;
          li {
            padding: 0px 0 24.5px;
            line-height: 21px;
          }
        }

        .access__map {
          width: 100%;
          height: 249px;
          border-radius: 0px 0px 50px 50px;
          grid-area: map;
        }
      }  
    }
  }
}