@use "../_foundation/mixin"as mixin;
@use "../_foundation/base"as base;

#mainvisual {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/img/farm_image/FV.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  // position: fixed;
  top: 0;
  z-index: -1;

  .mainvisual-center {
    display: flex;
    max-width: fit-content;
    flex-direction: column;
    position: relative;
    top: 270px;
    // left: 50%;
    // transform: translateX(-50%);
    margin: 0 auto;

    &__image {
      display: block;
      padding-left: 21px;
      margin: 0 auto;
    }

    &__title {
      font-size: clamp(1.563rem, 0.072rem + 4.771vw, 3.125rem);
      font-weight: bold;
      color: #87B16C;
      padding: 11px 0 0 25px;
      letter-spacing: 7.5px;
      text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3019607843);
      margin-top: 7.88px;
    }
  }

  .mainvisual-news {
    width: 337px;
    height: 109px;
    background-color: #F7B560;
    color: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 20px;
    padding: 14px 0 0 15px;
    position: absolute;
    right: 29px;
    bottom: 31px;
    transition: 0.3s;

    .main-news {
      &__title {
        font-size: 20px;
        font-weight: normal;
        letter-spacing: 1px;
        padding: 3px 0 0;
      }

      &__data {
        font-size: 12px;
        padding: 12px 0px 0px 1px;
        letter-spacing: 0.5px;
      }
    }

    &__text {
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 0.8px;
      padding: 6px 0 0;
    }

    &:hover {
      border: 1px solid #F7B560;
      border-radius: 24px;
      background-color: #F9F9F9;
      color: #F7B560;
      transition: 0.3s;
    }
  }
}



@include mixin.TAB {
  #mainvisual {
    width: 100%;
    height: 100vh;
    background-image: url("/assets/img/farm_image/FV.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .mainvisual-center {
      display: flex;
      flex-direction: column;
      position: relative;
      top: 219px;
      margin: 0 auto;

      &__image {
        display: block;
        margin: 0 auto;
      }

      &__title {
        text-align: center;
        font-size: clamp(1.563rem, 0.072rem + 4.771vw, 3.125rem);
        font-weight: bold;
        color: #87B16C;
        letter-spacing: 7.5px;
        text-shadow: 0px 3px 3px #0000004D;
        margin-top: 20.88px;
      }
    }

    .mainvisual-news {
      bottom: 20px;
      left: 20px;
      width: 142px;
      height: 76px;
      background-color: #F7B560;
      color: #FFFFFF;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 10px;
      padding: 13px 0 10px 10px;
      position: absolute;
      transition: 0.3s;

      .main-news {
        display: flex;
        align-items: center;

        &__title {
          font-size: 14px;
          font-weight: bold;
        }

        &__data {
          font-size: 10px;
          padding-left: 5px;
        }
      }

      &__text {
        font-size: 12px;
        font-weight: bold;
      }

      &:hover {
        border: 1px solid #F7B560;
        border-radius: 10px;
        background-color: #F9F9F9;
        color: #F7B560;
        transition: 0.3s;
      }
    }
  }
}


@include mixin.SP {
  #mainvisual {
    width: 100%;
    height: 92vh;
    background-image: url("/assets/img/farm_image/FV.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    z-index: -1;

    .mainvisual-center {
      display: flex;
      flex-direction: row;
      position: relative;
      top: 252px;
      margin-left: 4px;
      width: fit-content;
      align-items: center;
      margin: 0 auto;

      &__image {
        display: block;
        width: 73px;
        height: 56px;
        margin: 0 auto;
        padding: 0;
      }

      &__title {
        text-align: center;
        font-size: 25px;
        font-style: normal;
        font-weight: bold;
        color: #87B16C;
        letter-spacing: 3.75px;
        text-shadow: none;
        margin: -24px 0 0 6px;
        line-height: 37px;
        padding: 0;
      }
    }

    .mainvisual-news {
      bottom: 3px;
      left: 20px;
      width: 142px;
      height: 76px;
      background-color: #F7B560;
      color: #FFFFFF;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 10px;
      padding: 13px 0 10px 10px;
      position: absolute;
      transition: 0.3s;

      .main-news {
        display: flex;
        align-items: center;

        &__title {
          font-size: 11px;
          font-weight: bold;
          letter-spacing: 0;
          padding: 0px 1px 10px 0px;
          font-family: 'Archivo Narrow';
        }

        &__data {
          font-size: 9px;
          letter-spacing: 0px;
          padding: 1px 0px 7px 9px;
        }
      }

      &__text {
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 0.6px;
        line-height: 18px;
        margin: -9px 0 0px 0;
      }

      &:hover {
        border: 1px solid #F7B560;
        border-radius: 10px;
        background-color: #F9F9F9;
        color: #F7B560;
        transition: 0.3s;
      }
    }
  }
}